USE [BoneDB]
GO
/****** Object:  Schema [agent]    Script Date: 2026/6/12 下午 07:18:20 ******/
CREATE SCHEMA [agent]
GO
/****** Object:  Schema [model]    Script Date: 2026/6/12 下午 07:18:20 ******/
CREATE SCHEMA [model]
GO
/****** Object:  Schema [vision]    Script Date: 2026/6/12 下午 07:18:20 ******/
CREATE SCHEMA [vision]
GO
/****** Object:  Table [dbo].[Bone_Info]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bone_Info](
	[bone_id] [int] IDENTITY(1,1) NOT NULL,
	[bone_en] [nvarchar](100) NULL,
	[bone_zh] [nvarchar](100) NULL,
	[bone_region] [nvarchar](100) NULL,
	[bone_desc] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[bone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [model].[BoneTeachingInfo]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [model].[BoneTeachingInfo](
	[TeachingId] [int] IDENTITY(1,1) NOT NULL,
	[BoneId] [int] NOT NULL,
	[SmallBoneId] [int] NULL,
	[RegionPath] [nvarchar](200) NULL,
	[ListHint] [nvarchar](200) NULL,
	[IntroText] [nvarchar](max) NULL,
	[StructureFunctionText] [nvarchar](max) NULL,
	[LearningText] [nvarchar](max) NULL,
	[SuggestedQuestions] [nvarchar](max) NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[detail_intro] [nvarchar](max) NULL,
	[locate_tip] [nvarchar](max) NULL,
	[identify_tip] [nvarchar](max) NULL,
	[challenge_text] [nvarchar](max) NULL,
	[questions_json] [nvarchar](max) NULL,
	[TeachingLevel] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[TeachingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bone.Bone_small]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bone.Bone_small](
	[small_bone_id] [int] IDENTITY(1,1) NOT NULL,
	[bone_id] [int] NULL,
	[small_bone_zh] [varchar](100) NULL,
	[small_bone_en] [varchar](100) NULL,
	[serial_number] [varchar](100) NULL,
	[place] [varchar](100) NULL,
	[note] [text] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[small_bone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [model].[vw_S3BoneTeaching]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [model].[vw_S3BoneTeaching]
AS
SELECT
    bs.small_bone_id AS SmallBoneId,
    bs.bone_id AS BoneId,

    bi.bone_zh AS BoneZh,
    bi.bone_en AS BoneEn,
    bi.bone_region AS BoneRegion,
    bi.bone_desc AS BoneDesc,

    bs.small_bone_zh AS SmallBoneZh,
    bs.small_bone_en AS SmallBoneEn,
    bs.serial_number AS SerialNumber,
    bs.place AS Place,
    bs.note AS SmallBoneNote,

    COALESCE(tSmall.TeachingId, tBig.TeachingId) AS TeachingId,

    COALESCE(
        tSmall.RegionPath,
        tBig.RegionPath,
        bi.bone_region
    ) AS RegionPath,

    COALESCE(
        tSmall.ListHint,
        tBig.ListHint,
        bs.note,
        bi.bone_desc
    ) AS ListHint,

    COALESCE(
        tSmall.IntroText,
        tBig.IntroText,
        bi.bone_desc
    ) AS IntroText,

    COALESCE(
        tSmall.StructureFunctionText,
        tBig.StructureFunctionText
    ) AS StructureFunctionText,

    COALESCE(
        tSmall.LearningText,
        tBig.LearningText
    ) AS LearningText,

    COALESCE(
        tSmall.SuggestedQuestions,
        tBig.SuggestedQuestions
    ) AS SuggestedQuestions,

    COALESCE(
        tSmall.SortOrder,
        tBig.SortOrder,
        bs.small_bone_id
    ) AS SortOrder,

    CASE
        WHEN tSmall.TeachingId IS NOT NULL THEN N'small'
        WHEN tBig.TeachingId IS NOT NULL THEN N'bone'
        ELSE N'fallback'
    END AS TeachingSource
FROM dbo.[bone.Bone_small] bs
JOIN dbo.Bone_Info bi
    ON bs.bone_id = bi.bone_id
LEFT JOIN model.BoneTeachingInfo tSmall
    ON tSmall.SmallBoneId = bs.small_bone_id
   AND tSmall.IsActive = 1
LEFT JOIN model.BoneTeachingInfo tBig
    ON tBig.BoneId = bs.bone_id
   AND tBig.SmallBoneId IS NULL
   AND tBig.IsActive = 1;
GO
/****** Object:  Table [agent].[Conversation]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agent].[Conversation](
	[ConversationId] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Source] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConversationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [agent].[ConversationMessage]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agent].[ConversationMessage](
	[MessageId] [uniqueidentifier] NOT NULL,
	[ConversationId] [uniqueidentifier] NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[AttachmentsJson] [nvarchar](max) NULL,
	[MetaJson] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ImageCaseId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [agent].[RagEvalLog]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agent].[RagEvalLog](
	[EvalId] [bigint] IDENTITY(1,1) NOT NULL,
	[ConversationId] [uniqueidentifier] NULL,
	[UserId] [nvarchar](100) NULL,
	[Question] [nvarchar](max) NULL,
	[RagMode] [nvarchar](50) NULL,
	[Faithfulness] [float] NULL,
	[SupportedClaims] [int] NULL,
	[TotalClaims] [int] NULL,
	[EvalJson] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[EvalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [agent].[RagKnowledgeGap]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agent].[RagKnowledgeGap](
	[GapId] [bigint] IDENTITY(1,1) NOT NULL,
	[ConversationId] [uniqueidentifier] NULL,
	[UserId] [nvarchar](100) NULL,
	[Question] [nvarchar](max) NULL,
	[Claim] [nvarchar](max) NULL,
	[SuggestedQuery] [nvarchar](max) NULL,
	[SourceSuggestion] [nvarchar](200) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[GapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [agent].[RagKnowledgeGapCandidate]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agent].[RagKnowledgeGapCandidate](
	[CandidateId] [bigint] IDENTITY(1,1) NOT NULL,
	[GapId] [bigint] NOT NULL,
	[SourceType] [nvarchar](50) NULL,
	[Title] [nvarchar](500) NULL,
	[Url] [nvarchar](max) NULL,
	[Summary] [nvarchar](max) NULL,
	[Score] [float] NULL,
	[IsApproved] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[MaterialId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[CandidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [agent].[TeachingMaterial]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agent].[TeachingMaterial](
	[MaterialId] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
	[Language] [nvarchar](20) NOT NULL,
	[Style] [nvarchar](20) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[StructureJson] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](400) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bone_Images]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bone_Images](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[bone_id] [int] NULL,
	[image_name] [nvarchar](255) NOT NULL,
	[image_path] [nvarchar](500) NULL,
	[content_type] [nvarchar](50) NULL,
	[image_data] [varbinary](max) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_email_verifications]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_email_verifications](
	[verification_id] [uniqueidentifier] NOT NULL,
	[user_id] [nvarchar](200) NOT NULL,
	[email] [nvarchar](320) NOT NULL,
	[code_hash] [varbinary](32) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[used_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_user_email_verifications] PRIMARY KEY CLUSTERED 
(
	[verification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_refresh_tokens]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_refresh_tokens](
	[token_id] [uniqueidentifier] NOT NULL,
	[user_id] [nvarchar](200) NOT NULL,
	[token_hash] [nvarchar](64) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[revoked_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_ip] [nvarchar](64) NULL,
	[user_agent] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](200) NOT NULL,
	[username] [nvarchar](100) NULL,
	[email] [nvarchar](510) NULL,
	[roles] [nvarchar](40) NULL,
	[states] [nvarchar](40) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[password_hash] [nvarchar](510) NOT NULL,
	[last_login_at] [datetime2](7) NULL,
	[email_verified_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [model].[BodyRegion]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [model].[BodyRegion](
	[RegionKey] [nvarchar](50) NOT NULL,
	[RegionZh] [nvarchar](50) NOT NULL,
	[RegionEn] [nvarchar](100) NULL,
	[Side] [nvarchar](20) NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [model].[BodyRegionBoneMap]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [model].[BodyRegionBoneMap](
	[MapId] [int] IDENTITY(1,1) NOT NULL,
	[RegionKey] [nvarchar](50) NOT NULL,
	[GroupKey] [nvarchar](50) NOT NULL,
	[GroupZh] [nvarchar](50) NOT NULL,
	[GroupEn] [nvarchar](100) NULL,
	[SmallBoneId] [int] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [model].[BoneMeshMap]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [model].[BoneMeshMap](
	[SmallBoneId] [int] NOT NULL,
	[MeshName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SmallBoneId] ASC,
	[MeshName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vision].[ImageAnnotation]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vision].[ImageAnnotation](
	[AnnotationId] [int] IDENTITY(1,1) NOT NULL,
	[ImageCaseId] [int] NOT NULL,
	[Source] [nvarchar](20) NOT NULL,
	[BoneId] [int] NULL,
	[SmallBoneId] [int] NULL,
	[XMin] [float] NOT NULL,
	[YMin] [float] NOT NULL,
	[XMax] [float] NOT NULL,
	[YMax] [float] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PolyJson] [nvarchar](max) NULL,
	[P1X] [float] NULL,
	[P1Y] [float] NULL,
	[P2X] [float] NULL,
	[P2Y] [float] NULL,
	[P3X] [float] NULL,
	[P3Y] [float] NULL,
	[P4X] [float] NULL,
	[P4Y] [float] NULL,
	[PolyIsNormalized] [bit] NULL,
	[Cx] [float] NULL,
	[Cy] [float] NULL,
	[CreatedByUserId] [int] NULL,
	[ReviewedByUserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnnotationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [vision].[ImageCase]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vision].[ImageCase](
	[ImageCaseId] [int] IDENTITY(1,1) NOT NULL,
	[BoneImageId] [int] NULL,
	[Source] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedByUserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageCaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vision].[ImageDetection]    Script Date: 2026/6/12 下午 07:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vision].[ImageDetection](
	[DetectionId] [int] IDENTITY(1,1) NOT NULL,
	[ImageCaseId] [int] NOT NULL,
	[BoneId] [int] NULL,
	[SmallBoneId] [int] NULL,
	[Label41] [nvarchar](100) NOT NULL,
	[Confidence] [float] NOT NULL,
	[X1] [float] NOT NULL,
	[Y1] [float] NOT NULL,
	[X2] [float] NOT NULL,
	[Y2] [float] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PolyJson] [nvarchar](max) NULL,
	[P1X] [float] NULL,
	[P1Y] [float] NULL,
	[P2X] [float] NULL,
	[P2Y] [float] NULL,
	[P3X] [float] NULL,
	[P3Y] [float] NULL,
	[P4X] [float] NULL,
	[P4Y] [float] NULL,
	[PolyIsNormalized] [bit] NOT NULL,
	[Cx] [float] NULL,
	[Cy] [float] NULL,
	[CreatedByUserId] [int] NULL,
	[SubLabel] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [agent].[Conversation] ADD  DEFAULT (newid()) FOR [ConversationId]
GO
ALTER TABLE [agent].[Conversation] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [agent].[Conversation] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [agent].[ConversationMessage] ADD  DEFAULT (newid()) FOR [MessageId]
GO
ALTER TABLE [agent].[ConversationMessage] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [agent].[RagEvalLog] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [agent].[RagKnowledgeGap] ADD  DEFAULT ('pending_review') FOR [Status]
GO
ALTER TABLE [agent].[RagKnowledgeGap] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [agent].[RagKnowledgeGapCandidate] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [agent].[RagKnowledgeGapCandidate] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [agent].[TeachingMaterial] ADD  DEFAULT (newid()) FOR [MaterialId]
GO
ALTER TABLE [agent].[TeachingMaterial] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[bone.Bone_small] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Bone_Images] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_email_verifications] ADD  CONSTRAINT [DF_user_email_verifications_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_refresh_tokens] ADD  DEFAULT (newid()) FOR [token_id]
GO
ALTER TABLE [dbo].[user_refresh_tokens] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_roles]  DEFAULT ('user') FOR [roles]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_states]  DEFAULT ('active') FOR [states]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [model].[BodyRegion] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [model].[BodyRegion] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [model].[BodyRegionBoneMap] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [model].[BoneTeachingInfo] ADD  CONSTRAINT [DF_BoneTeachingInfo_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [model].[BoneTeachingInfo] ADD  CONSTRAINT [DF_BoneTeachingInfo_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [model].[BoneTeachingInfo] ADD  CONSTRAINT [DF_BoneTeachingInfo_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [vision].[ImageAnnotation] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [vision].[ImageCase] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [vision].[ImageDetection] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [vision].[ImageDetection] ADD  CONSTRAINT [DF_ImageDetection_PolyIsNormalized]  DEFAULT ((1)) FOR [PolyIsNormalized]
GO
ALTER TABLE [agent].[ConversationMessage]  WITH CHECK ADD  CONSTRAINT [FK_ConvMsg_Conv] FOREIGN KEY([ConversationId])
REFERENCES [agent].[Conversation] ([ConversationId])
GO
ALTER TABLE [agent].[ConversationMessage] CHECK CONSTRAINT [FK_ConvMsg_Conv]
GO
ALTER TABLE [dbo].[bone.Bone_small]  WITH CHECK ADD FOREIGN KEY([bone_id])
REFERENCES [dbo].[Bone_Info] ([bone_id])
GO
ALTER TABLE [dbo].[Bone_Images]  WITH CHECK ADD  CONSTRAINT [FK_Bone_Images_Bone_Info] FOREIGN KEY([bone_id])
REFERENCES [dbo].[Bone_Info] ([bone_id])
GO
ALTER TABLE [dbo].[Bone_Images] CHECK CONSTRAINT [FK_Bone_Images_Bone_Info]
GO
ALTER TABLE [dbo].[user_email_verifications]  WITH CHECK ADD  CONSTRAINT [FK_user_email_verifications_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_email_verifications] CHECK CONSTRAINT [FK_user_email_verifications_users]
GO
ALTER TABLE [dbo].[user_refresh_tokens]  WITH CHECK ADD  CONSTRAINT [FK_user_refresh_tokens_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_refresh_tokens] CHECK CONSTRAINT [FK_user_refresh_tokens_users]
GO
ALTER TABLE [model].[BodyRegionBoneMap]  WITH CHECK ADD  CONSTRAINT [FK_BodyRegionBoneMap_Region] FOREIGN KEY([RegionKey])
REFERENCES [model].[BodyRegion] ([RegionKey])
GO
ALTER TABLE [model].[BodyRegionBoneMap] CHECK CONSTRAINT [FK_BodyRegionBoneMap_Region]
GO
ALTER TABLE [model].[BodyRegionBoneMap]  WITH CHECK ADD  CONSTRAINT [FK_BodyRegionBoneMap_SmallBone] FOREIGN KEY([SmallBoneId])
REFERENCES [dbo].[bone.Bone_small] ([small_bone_id])
GO
ALTER TABLE [model].[BodyRegionBoneMap] CHECK CONSTRAINT [FK_BodyRegionBoneMap_SmallBone]
GO
ALTER TABLE [model].[BoneMeshMap]  WITH CHECK ADD  CONSTRAINT [FK_BoneMeshMap_BoneSmall] FOREIGN KEY([SmallBoneId])
REFERENCES [dbo].[bone.Bone_small] ([small_bone_id])
GO
ALTER TABLE [model].[BoneMeshMap] CHECK CONSTRAINT [FK_BoneMeshMap_BoneSmall]
GO
ALTER TABLE [model].[BoneTeachingInfo]  WITH CHECK ADD  CONSTRAINT [FK_BoneTeachingInfo_BoneInfo] FOREIGN KEY([BoneId])
REFERENCES [dbo].[Bone_Info] ([bone_id])
GO
ALTER TABLE [model].[BoneTeachingInfo] CHECK CONSTRAINT [FK_BoneTeachingInfo_BoneInfo]
GO
ALTER TABLE [model].[BoneTeachingInfo]  WITH CHECK ADD  CONSTRAINT [FK_BoneTeachingInfo_BoneSmall] FOREIGN KEY([SmallBoneId])
REFERENCES [dbo].[bone.Bone_small] ([small_bone_id])
GO
ALTER TABLE [model].[BoneTeachingInfo] CHECK CONSTRAINT [FK_BoneTeachingInfo_BoneSmall]
GO
ALTER TABLE [vision].[ImageAnnotation]  WITH CHECK ADD  CONSTRAINT [FK_ImageAnnotation_BoneInfo] FOREIGN KEY([BoneId])
REFERENCES [dbo].[Bone_Info] ([bone_id])
GO
ALTER TABLE [vision].[ImageAnnotation] CHECK CONSTRAINT [FK_ImageAnnotation_BoneInfo]
GO
ALTER TABLE [vision].[ImageAnnotation]  WITH CHECK ADD  CONSTRAINT [FK_ImageAnnotation_BoneSmall] FOREIGN KEY([SmallBoneId])
REFERENCES [dbo].[bone.Bone_small] ([small_bone_id])
GO
ALTER TABLE [vision].[ImageAnnotation] CHECK CONSTRAINT [FK_ImageAnnotation_BoneSmall]
GO
ALTER TABLE [vision].[ImageAnnotation]  WITH CHECK ADD  CONSTRAINT [FK_ImageAnnotation_CreatedByUser] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [vision].[ImageAnnotation] CHECK CONSTRAINT [FK_ImageAnnotation_CreatedByUser]
GO
ALTER TABLE [vision].[ImageAnnotation]  WITH CHECK ADD  CONSTRAINT [FK_ImageAnnotation_ImageCase] FOREIGN KEY([ImageCaseId])
REFERENCES [vision].[ImageCase] ([ImageCaseId])
GO
ALTER TABLE [vision].[ImageAnnotation] CHECK CONSTRAINT [FK_ImageAnnotation_ImageCase]
GO
ALTER TABLE [vision].[ImageAnnotation]  WITH CHECK ADD  CONSTRAINT [FK_ImageAnnotation_ReviewedByUser] FOREIGN KEY([ReviewedByUserId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [vision].[ImageAnnotation] CHECK CONSTRAINT [FK_ImageAnnotation_ReviewedByUser]
GO
ALTER TABLE [vision].[ImageCase]  WITH CHECK ADD  CONSTRAINT [FK_ImageCase_User] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [vision].[ImageCase] CHECK CONSTRAINT [FK_ImageCase_User]
GO
ALTER TABLE [vision].[ImageDetection]  WITH CHECK ADD  CONSTRAINT [FK_ImageDetection_Bone] FOREIGN KEY([BoneId])
REFERENCES [dbo].[Bone_Info] ([bone_id])
GO
ALTER TABLE [vision].[ImageDetection] CHECK CONSTRAINT [FK_ImageDetection_Bone]
GO
ALTER TABLE [vision].[ImageDetection]  WITH CHECK ADD  CONSTRAINT [FK_ImageDetection_BoneSmall] FOREIGN KEY([SmallBoneId])
REFERENCES [dbo].[bone.Bone_small] ([small_bone_id])
GO
ALTER TABLE [vision].[ImageDetection] CHECK CONSTRAINT [FK_ImageDetection_BoneSmall]
GO
ALTER TABLE [vision].[ImageDetection]  WITH CHECK ADD  CONSTRAINT [FK_ImageDetection_ImageCase] FOREIGN KEY([ImageCaseId])
REFERENCES [vision].[ImageCase] ([ImageCaseId])
GO
ALTER TABLE [vision].[ImageDetection] CHECK CONSTRAINT [FK_ImageDetection_ImageCase]
GO
ALTER TABLE [vision].[ImageDetection]  WITH CHECK ADD  CONSTRAINT [FK_ImageDetection_User] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [vision].[ImageDetection] CHECK CONSTRAINT [FK_ImageDetection_User]
GO
ALTER TABLE [model].[BoneTeachingInfo]  WITH CHECK ADD  CONSTRAINT [CK_BoneTeachingInfo_SuggestedQuestions_JSON] CHECK  (([SuggestedQuestions] IS NULL OR isjson([SuggestedQuestions])=(1)))
GO
ALTER TABLE [model].[BoneTeachingInfo] CHECK CONSTRAINT [CK_BoneTeachingInfo_SuggestedQuestions_JSON]
GO
ALTER TABLE [vision].[ImageDetection]  WITH NOCHECK ADD  CONSTRAINT [CK_ImageDetection_PolyJson_IsJson] CHECK  (([PolyJson] IS NULL OR isjson([PolyJson])=(1)))
GO
ALTER TABLE [vision].[ImageDetection] CHECK CONSTRAINT [CK_ImageDetection_PolyJson_IsJson]
GO
