py -m pip install -U pip wheel
py -m pip install ultralytics
py -m pip install -U pip
py -m pip install "uvicorn[standard]" fastapi
pip install python-multipart
py -m pip install pyodbc
py -m pip install qdrant-client
py -m pip install langchain-community pypdf
python -m pip install openai python-dotenv
pip install pymupdf
pip install PyPDF2
pip install pdfplumber
pip install docx
pip install exceptions
pip install openai python-dotenv qdrant-client
pip uninstall -y docx
pip install -U python-docx
pip install openpyxl
pip install reportlab
pip install python-docx python-pptx pymupdf
pip install -U qdrant-client
pip install passlib[bcrypt] python-jose[cryptography]
pip install "pydantic[email]"
pip show python-jose
pip install -U "python-jose[cryptography]"
pip install python-docx python-pptx langchain-text-splitters langchain-community pymupdf pypdf
pip install duckduckgo-search beautifulsoup4 lxml requests
